*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}
.circlearrow{
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 35px;
    color: #035fae;
    z-index: 999;
}
/* -------------------------------header---------------------------------- */
.main1{
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index: 9999;
}
.header{
    max-width: 1100px;
    /* height: 80px; */
    /* border: 1px solid black; */
    margin: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .number{
    font-size: 25px;
    background-color:  #035fae;
    border-radius: 30px 30px 0px 30px;
    width: 230px;
    /* height: 40px; */
    font-weight: 600;
    text-align: center;
    color: white;
    padding: 8px 10px;
    animation: color;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}
 @keyframes color {
    from{
        background-color: #035fae ;
    }
    to{
        background-color: rgb(252, 252, 39);
    }
    
 }
/* ------------------------- section2-------------------------------- */
.main2{
    width: 100%;
    /* height: 600px; */
    background: url("../image/banner.jpg") top center no-repeat ;
    background-size: cover;
    padding: 100px 0px 80px 0px;
}
.main2 .main2div{
    max-width: 1200px;
    display: flex;
    margin: auto;
    /* border: 1px solid white; */
    margin-top: 30px;
}
.main2div .main2left{
    width: 60%;
    /* border: 1px solid green; */
    padding-top: 90px;
    padding-left: 20px;
}

.main2left h1{
    font-family: Lato, sans-serif;
    font-size: 28px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    line-height: 40px;
    padding: 10px 0px;
}
.main2left h2{
   font-size: 25px;
   font-weight: bolder;
   color: rgb(255, 255, 255);
   line-height: 40px;
   padding: 10px 0px;
}
.main2left p{
    font-size: 20px;
    /* font-weight: bold; */
    color: rgb(255, 255, 255);
   line-height: 40px;
   padding: 10px 0px;
}
.main2div .main2right{
    width: 40%;
    /* border: 1px solid green; */
}
.main2right .formsection{
    width: 68%;
    /* height: 300px; */
    padding: 30px 20px;
    margin: auto;
    background-color:  rgb(243, 243, 243);
    border-radius: 20px;       
}
.formsection h2{
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}
form input{
    width: 95%;
    height: 19px;
    padding: 6px;
    margin-bottom: 15px;
    font-size: 12px;
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    color: rgb(97, 96, 96);
    border-color: rgb(203, 199, 199); ;
}
.inputcap{
    display: flex;
}
.inputcap input{
    max-width: 150px;
    height: 19px;
}
form p{
    font-size: 12px;
    line-height: 18px;
    padding: 5px 10px;
}
form .subbtn{
    width: 100%;
    height: 35px;
    background-color: rgb(21, 94, 209);
    color: white;
    font-size: 15px;
    border: none;
    font-weight: 600;
    padding: 5px 0;
    margin-top: 10px;
}
/* ---------------------------------------------section3---------------------------------- */
.main3{
    width: 100%;
    padding-bottom: 30px;
}
 .main3heading {
    padding: 25px 0px;
    margin:auto;
    width: 1200px;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.main3youtube{
    width: 1200px;
    /* height: 800px; */
    padding: 10px;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}
.main3youtube iframe{
    border-radius: 20px;
    width: 350px;
}
.utube h4{
    font-size: 18px;
    color: #035fae;
    font-weight: 600;
    text-align: center;
    padding: 15px;
}
/* ------------------------------section4---------------------------------------- */
.main4{
    width: 100%;
    padding-bottom: 20px;
    background-color: #f4f4f4;
}
.services{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.services .service1{
    width: 530px;
    height: 560px;
    margin-bottom: 25px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
    position: relative;
    overflow: hidden;
}
.service1 img{
    width: 530px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    transition: 2s;
    overflow: hidden;
}
.serviceimg:hover {
    transform: scale(1.1);
}
.service1 h3{
    font-size: 18px;
    color: #035fae;
    text-align: center;
    padding: 10px;
}
.service1 p{
    color: #6c717b;
    text-align: justify;
    line-height: 25px;
    margin: 5px 15px;
}
.service1 .btn{
    text-align: center;
    padding: 8px 25px;
    font-size: 16px;
    color: black;
    font-weight: 600;
    background-color: rgb(243, 243, 23);
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
    border-radius: 5px ;
    position: absolute;
    bottom: 20px;
    left: 180px;
    overflow: hidden;
    transition: 2s;

}
.btn:hover {
    transform: scale(1.1);
}
/* -------------------------------section5----------------------------------- */
.main5{
    width: 100%;
    padding-bottom: 20px;
}
.main5 h4{
    text-align: center;
    font-size: 19px;
    padding: 15px 0px;
}
.main5 .whypackshift{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.whypackshift .pack{
    width: 230px;
    padding: 15px 0px;
    margin-bottom: 20px;
    background: #f4f4f4;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
    border-radius: 20px;
    text-align: center;
}
/* -----------------------------section6----------------------------------- */
.main6{
    width: 100%;
    background-color: #216eb2;
}
.main6 h4{
    text-align: center;
    font-weight: 500;
    font-size: 19px;
    padding: 10px 0px;
    color: white;
}
.main6 .achiediv{
    width: 1100px;
    padding: 20px 0px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.main6 .achisection{
    width: 150px;
    text-align: center;
}
/* -------------------------------SECTION7--------------------------------------------- */
.main7{
    width: 100%;
    padding-bottom: 35px;
    /* height: 400px; */
}
.main7 .customersection{
    width: 900px;
    height: 300px;
    background-color: #1c6fb7;
    border-radius: 20px;
    margin: auto;
}
.customersection p{
    text-align: justify;
    color: white;
    font-size: 18px;
    padding-top: 130px;
    margin: 0px 150px;
    position: relative;
}
.imageuser{
    background-color: rgb(228, 228, 51);
    border-radius: 0px 10px 0px 10px;
    position: relative;
    display: inline-block;
    bottom: 34%;
    right: 5%;
}
.imageuser h5{
    text-align: center;
    color: white;
    font-size: 17px;
    padding-bottom: 5px;
}
.main8{
    width: 100%;
    /* height: 300px; */
    padding-bottom: 30px;
    background-color:#f4f4f4;
}
.main8 .cleintsection{
    width: 1100px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.client img{
    border-radius: 20px;
}
/* ----------------------------section9----------------------------------------------- */
.main9{
    width: 100%;
    padding:20px 0px;
    /* height: 400px; */
}
.main9 .branch{
    width: 1050px;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.branchsection{
    width: 500px;
    /* height: 200px; */
    text-align: center;
    background-color:#f4f4f4 ;
    padding: 10px 0px;
    border-radius: 20px;
}
.branch h4{
    font-size: 20px;
    padding: 8px 0px;

}
.branch p{
   padding: 10px 0px;
}
/* ------------------------------------section10----------------------------------------------- */
.main10{
    width: 100%;
    padding-bottom: 20px;
    background-color:#f4f4f4 ;
}
.main10 .mover{
    width: 1050px;
    padding: 20px 0px;
    /* height: 700px; */
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;justify-content: space-between;
}
.mover .mover1 ul li{
    list-style: none;
    line-height: 25px;
    word-spacing: 10%;
}
.mover h4{
    font-size: 18px;
    padding: 12px 0px;
    font-weight: 400;
}
.main11{
    width: 100%;
    /* height: 150px; */
    background-color: #216eb2;
}
.footer{
    width: 1100px;
    margin:auto;
}
.footer .icon{
    width: 1100px;
    /* height: 30px; */
    /* border :1px solid red; */
    margin: auto;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
}
.icon1{
    color: white;
    font-size: 25px;
    padding: 15px 10px;
}
.icon2{
    color: white;
    font-size: 17px;
    padding: 20px 10px;
}
.line{
    background: #fff none repeat scroll 0 0;
    display: block;
    height: 2px;
    margin-bottom: 13px;
    width: 100%;
}
.footer p{
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 15px;
}
/* --------------------------------truck------------------------- */

@keyframes truckmove {
    0%{
        left: -200px;
    }
    100%{
        left: 100%;
    }
}
@keyframes rotate {
    0%{

    }
    100%{
        transform: rotate(360deg);
    }
}
.truck img{
    position: fixed;
    bottom: 15px;
    left: -200px;
    animation-name: truckmove;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 99999;
}
.wheel{
    width: 100px;
    /* height: 30px; */
   /* border: 1px solid black; */
   position: fixed;
   bottom: 0px;
   /* left: -200px; */
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   animation-name: truckmove;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 99999;
}
.wheel .w-w{
    width: 20px;
    height: 20px;
    background-color: #216eb2;
    border-radius: 50%;
    position: relative;
    animation: rotate 10s infinite linear ;
}
.w-w .w2{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
   position: absolute;
   bottom: 5px;
   right: 5px;
}